.footer{
    text-align: center;
    color: #828282;
    margin-top: 80px;
    padding-bottom: 24px;
    
    p{
        @include breakpoint(xs){
            display: block;
        }

        a{
            text-decoration: none;
            color: #828282;
        }
    }
}