.description{
    &--text{
        margin-top: 12px;
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }
    &--img{
        margin-top: 40px;
        width: 100%;

        @include breakpoint(xs){
            margin-top: 20px;
        }
    }
}